{% extends "DigsCoreBundle::base.html.twig" %}

{% block body -%}
    <div class="panel panel-default">
        <div class="panel-heading">{{ entity.name }}のメンバー一覧</div>
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ハンドル</th>
                        <th>メール</th>
                        <th>氏</th>
                        <th>名</th>
                    </tr>
                </thead>
                <tbody>
                    {% for member in entity.members %}
                    <tr>
                        <td><a href="{{ path('member_show', {'id': member.id}) }}">{{ member.profile.nickname }}</a></td>
                        <td>{{ member.email }}</td>
                        <td>{{ member.lastName }}</td>
                        <td>{{ member.firstName }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <a href="{{ path('membergroup') }}" class="btn btn-default">戻る</a>
{% endblock %}
