{% extends "DigsCoreBundle::plane.html.twig" %}

{% block javascripts %}
<script type="text/javascript">
    var SelectFilePage = {
        init: function()
        {
            $('.digsfile').click(function(e) {
                e.preventDefault();
                window.parent.RichTextEditor.selectFile($(this));
            });
        },
        showUploadError: function(err)
        {
            $('#upload-error').append(err);
        },
        reload: function()
        {
            window.location = "{{ path(reloadRoute) }}";
        }
    };
    $(document).ready(SelectFilePage.init);
</script>
{% endblock %}

{% block body -%}
<div class="row" style="margin-top: 15px; margin-bottom: 15px;">
    <div id="upload-error"></div>
{{ form_start(upload_form, {'attr': {'target': 'uploader'}}) }}
    <div class="input-group">
        <label class="input-group-addon">新しいファイルをアップロードする</label>
        {{ form_widget(upload_form.file, {'attr': {'class': 'form-control'}}) }}
        <span class="input-group-btn"><button type="submit" class="btn btn-primary">アップロード</button></span>
    </div>
{{ form_end(upload_form) }}
    <iframe name="uploader" src="" style="width: 0; height: 0; border:0; overflow: hidden; display: none;"></iframe>
</div>

<table class="table">
    <tbody>
{% for entity in entities %}
        <tr>
            <td><a href="{{ url(showRoute, { 'prefix': prefix, 'file': entity.file, 'title': entity.title }) }}" class="digsfile">{{ entity.title }}</a></td>
            <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
        </tr>
{% endfor %}
    </tbody>
</table>

<div class="row">
{{ knp_pagination_render(entities) }}
</div>
{% endblock %}
