{% extends "DigsCoreBundle::base.html.twig" %}

{% block body -%}
{% if newlink is defined %}
<h2>リンクの作成</h2>
{% else %}
<h2>リンクの編集</h2>
{% endif %}

{{ form_start(edit_form) }}
{{ form_errors(edit_form) }}
<div class="form-group">
{{ form_label(edit_form.name, '名前') }}
{{ form_errors(edit_form.name) }}
{{ form_widget(edit_form.name, {'attr': {'class': 'form-control'}}) }}
</div>
<div class="form-group">
{{ form_label(edit_form.url, 'URL') }}
{{ form_errors(edit_form.url) }}
{{ form_widget(edit_form.url, {'attr': {'class': 'form-control'}}) }}
</div>
<div class="form-group">
    <button type="submit" class="btn btn-primary">保存</button>
    <a class="btn btn-default" href="{{ path('link') }}">戻る</a>
</div>
{{ form_end(edit_form) }}

{% endblock %}
