{% extends "DigsCoreBundle::base.html.twig" %}

{% block body -%}
    {% if entities|length > 0 %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">プロフィール</h2>
    </div>
    <ul class="list-group">
        {% for entity in entities %}
        <li class="list-group-item">
            <div class="media">
                <a class="pull-left" href="{{ path('profile_show', { 'id': entity.member.id }) }}">
                    <img class="media-object" style="width: 64px;" src="{{ path('profile_image_show', { 'id': entity.member.id }) }}" alt="{{ entity.nickname }}">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">
                        <a href="{{ path('profile_show', { 'id': entity.member.id }) }}">{{ entity.nickname }}</a>
                    </h4>
                    <p>{{ entity.message|truncate(100) }}</p>
                    <small>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</small>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
<div class="row">
    {{ knp_pagination_render(entities) }}
</div>
    {% endif %}
{% endblock %}
