{% extends "DigsCoreBundle::base.html.twig" %}

{% block body -%}
    {% set index = 0 %}
    {% for entity in entities %}
        {% if index % 3 == 0 %}
<div class="row" style="margin-bottom: 15px;">
        {% endif %}
    <div class="col-md-4">
        <div class="media">
            <a class="pull-left" href="{{ path('entry') }}">
                <img class="media-object" style="width: 64px;" src="{{ path('profile_image_show', { 'id': entity.id }) }}" alt="{{ entity.nickname }}">
            </a>
            <div class="media-body">
                <h4 class="media-heading">
                    {# FIXME プロフィールからエントリを呼ばないように #}
                    <a href="{{ path('entry') }}">{{ entity.nickname }}</a>
                </h4>
                <p>{{ entity.message }}</p>
                <small>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</small>
            </div>
        </div>
        <td><a href="{{ path('profile_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
    </div>
        {% set index = index + 1 %}
        {% if index % 3 == 0 %}
</div>
        {% endif %}
    {% endfor %}
    {% if index % 3 != 0 %}
</div>
    {% endif %}
<div class="row">
{{ knp_pagination_render(entities) }}
</div>
    {% endblock %}
