{% extends "DigsCoreBundle::base.html.twig" %}

{% block body -%}
<div class="panel panel-default">
    <div class="panel-body">
        <div class="text-center">
            <img src="{{ path('profile_image_show', { 'id': member.id, 'v': member.profile.updatedAt|date('U') }) }}" alt="profile">
            <h3><a href="{{ path('profile_show', { 'id': member.id }) }}">{{ member.profile.nickname }}</a></h3>
            {{ member.profile.message }}
        </div>
    </div>
</div>

{% block profile_body %}
    {% for item in profilepanel.items %}
        {{ render(controller(item.controller, item.parameters|merge({ 'member': member }))) }}
    {% endfor %}
{% endblock %}

{% endblock %}
