{% extends "DigsCoreBundle::base.html.twig" %}

{% block body %}

{{ form_start(form) }}
<div class="input-group search-panel">
    {{ form_widget(form.search, {'attr': {'class': 'form-control', placeholder: 'エントリの検索'}}) }}
    <span class="input-group-btn"><button type="submit" class="btn btn-default">検索</button></span>
</div>
{{ form_end(form) }}

{% if entities|length > 0 %}
{{ include('DigsEntryBundle:Entry:toppanel.html.twig', { 'entities': entities }) }}

{{ knp_pagination_render(entities) }}

{% else %}
<div class="row">
    <p>エントリーはありません</p>
</div>
{% endif %}
{% endblock %}
