
{% if entities|length > 0 %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">エントリ</h2>
    </div>
    <ul class="list-group">
    {% for entity in entities %}
        <li class="list-group-item">
            <h3><a href="{{ path('entry_show', { 'id': entity.id }) }}">{{ entity.title }}</a></h3>
            {{ include('DigsEntryBundle:Entry:tagline.html.twig', { 'entity': entity }) }}
            <p>{{ entity.escapedMessage|truncate(200) }}</p>
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-right">
                        <small>{{ entity.updatedAt|date('Y-m-d H:i:s')  }}</small>
                    </div>
                </div>
            </div>
        </li>
    {% endfor %}
        <li class="list-group-item text-right">
            <a href="{{ path('entry', { 'profile': entities[0].member.id }) }}">{{ entities[0].member.profile.nickname }}さんのエントリ一覧</a>
        </li>
            
    </ul>
</div>

{% else %}
<div class="row">
    <p>エントリーはありません</p>
</div>
{% endif %}
