{% extends "DigsCoreBundle::base.html.twig" %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('bundles/digsentry/css/entry.css') }}" type="text/css" media="all" />
{% endblock %}

{% block body -%}
<div class="row">
    <div class="col-md-3">
        <div class="thumbnail">
            <img src="{{ path('profile_image_show', { 'id': entity.member.id}) }}" alt="profile">
            <div class="caption">
                <h3>{{ entity.member.profile.nickname }}</h3>
                <p>{{ entity.member.profile.message }}</p>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row">
{% if entity.member.profile.entryLead %}
            <p class="lead">{{ entity.member.profile.entryLead }}</p>
{% endif %}
            <div id="entry-inner" class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-heading">{{ entity.title }} <small>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</small></h2>
                </div>
                <div class="panel-body">{{ entity.message|raw }}</div>
            </div>
            <div id="comment-wrapper" class="panel panel-default">
                <div class="panel-heading">
                    <h3>コメント</h3>
                </div>
                <ul class="list-group">
{% for comment in entity.comments %}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-1">
                                <img class="img-responsive" src="{{ path('profile_image_show', { 'id': comment.member.id}) }}" />
                            </div>
                            <div class="col-md-11">
                                <div class="row">{{ comment.member.profile.nickname }} <small>{{ comment.createdAt|date('Y-m-d H:i:s') }}</small></div>
                                <div class="row">{{ comment.message }}</div>
                            </div>
                        </div>
                    </li>
{% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

<ul class="record_actions">
    <li>
        <a href="{{ path('entry') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('entry_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
