{% extends "DigsCoreBundle:Profile:show.html.twig" %}

{% set member=entity.member %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('bundles/digsentry/css/richtexteditor.css') }}" type="text/css" media="all" />
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('bundles/digscore/js/tinymce/tinymce.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/digsentry/js/richtexteditor.js') }}"></script>
<script type="text/javascript">
    var EntryShowPage = {
        init: function() {
        }
    };
    $(document).ready(function(){
        RichTextEditor.init("{{ asset('bundles/digscore/bootstrap/css/bootstrap.min.css') }},{{ asset('bundles/digsentry/css/richtexteditor.css') }}",
            "{{ path('profile_photo') }}", "{{ path('profile_file') }}");
        EntryShowPage.init();
    });
</script>
{% endblock %}

{% block profile_body -%}
<div class="row">
{% if member.profile.entryLead %}
    <p class="lead text-center">{{ member.profile.entryLead }}</p>
{% endif %}
    <div class="panel panel-default richtexteditor">
        <div class="panel-heading">
            <h2 class="panel-title">{{ entity.title }} <small>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</small>
{% if app.user.id == entity.member.id %}
                <a class="btn btn-default btn-sm" href="{{ path('entry_edit', { 'id': entity.id }) }}">編集</a>
{% endif %}
            </h2>
        </div>
        <div class="panel-body">{{ entity.message|raw }}</div>
    </div>
    <div class="panel panel-default richtexteditor">
        <div class="panel-heading">
            <h3 class="panel-title">コメント <span class="badge">{{ entity.comments|length }}</span></h3>
        </div>
        <ul class="list-group">
            <li class="list-group-item">
{{ form_start(comment_form) }}
{{ form_errors(comment_form) }}
                <div class="form-group">
{{ form_errors(comment_form.message) }}
{{ form_widget(comment_form.message, {'attr': {'class': 'form-control', 'rows': 3}}) }}
                </div>
                <button type="submit" class="btn btn-primary">コメント</button>
{{ form_end(comment_form) }}
            </li>
{% for comment in entity.comments %}
            <li class="list-group-item">
                <div class="media">
                    <a class="pull-left" href="{{ path('profile_show', { 'id': comment.member.id }) }}">
                        <img class="media-object" style="width: 48px" src="{{ path('profile_image_show', { 'id': comment.member.id}) }}" />
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <a href="{{ path('profile_show', { 'id': comment.member.id }) }}">{{ comment.member.profile.nickname }}</a>
                            <small>{{ comment.createdAt|date('Y-m-d H:i:s') }}</small></h4>
                        <p>{{ comment.message|raw }}</p>
                    </div>
                </div>
            </li>
{% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
