{% extends "DigsCoreBundle::base.html.twig" %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('bundles/digsentry/css/entry.css') }}" type="text/css" media="all" />
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('bundles/digscore/js/tinymce/tinymce.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/digsentry/js/richtexteditor.js') }}"></script>
<script type="text/javascript">
    var EntryShowPage = {
        init: function() {
        }
    };
    $(document).ready(function(){
        RichTextEditor.init("{{ asset('bundles/digscore/bootstrap/css/bootstrap.min.css') }},{{ asset('bundles/digsentry/css/entry.css') }}", "{{ path('photo_select') }}");
        EntryShowPage.init();
    });
</script>
{% endblock %}

{% block body -%}
<div class="row">
    <div class="col-md-3">
        <div class="thumbnail">
            <img src="{{ path('profile_image_show', { 'id': entity.member.id}) }}" alt="profile">
            <div class="caption">
                <h3>{{ entity.member.profile.nickname }}</h3>
                <p>{{ entity.member.profile.message }}</p>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row">
{% if entity.member.profile.entryLead %}
            <p class="lead">{{ entity.member.profile.entryLead }}</p>
{% endif %}
            <div id="entry-inner" class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">{{ entity.title }} <small>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</small></h2>
                </div>
                <div class="panel-body">{{ entity.message|raw }}</div>
            </div>
            <div id="comment-wrapper" class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">コメント <span class="badge">{{ entity.comments|length }}</span></h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
{{ form_start(comment_form) }}
{{ form_errors(comment_form) }}
                        <div class="form-group">
{{ form_errors(comment_form.message) }}
{{ form_widget(comment_form.message, {'attr': {'class': 'form-control', 'rows': 3}}) }}
                        </div>
    <button type="submit" class="btn btn-primary">コメント</button>
{{ form_end(comment_form) }}
                    </li>
{% for comment in entity.comments %}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-1">
                                <img class="img-responsive" src="{{ path('profile_image_show', { 'id': comment.member.id}) }}" />
                            </div>
                            <div class="col-md-11">
                                <div>{{ comment.member.profile.nickname }} <small>{{ comment.createdAt|date('Y-m-d H:i:s') }}</small></div>
                                <div>{{ comment.message|raw }}</div>
                            </div>
                        </div>
                    </li>
{% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

<ul class="record_actions">
    <li>
        <a href="{{ path('entry') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('entry_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
</ul>
{% endblock %}
