    {% set index = 0 %}
    {% for entity in entities %}
        {% if index % 3 == 0 %}
<div class="row" style="margin-bottom: 15px;">
        {% endif %}
    <div class="col-md-4">
        <h2><a href="{{ path('entry_show', { 'id': entity.id }) }}" title="{{ entity.title }}">{{ entity.title|truncate(10) }}</a></h2>
        <p>{{ entity.escapedMessage|truncate(100) }}</p>
        <div class="row">
            <div class="col-md-12">
                <div class="pull-right">
                    <a href="{{ path('profile_show', { 'id': entity.member.profile.id }) }}">
                        <img src="{{ path('profile_image_show', { 'id': entity.member.profile.id}) }}" alt="profile" style="width:32px"/>
                    </a>
                    <a href="{{ path('profile_show', { 'id': entity.member.profile.id }) }}">{{ entity.member.profile.nickname }}</a>
                    <small>{{ entity.updatedAt|date('Y-m-d H:i:s')  }}</small>
                </div>
            </div>
        </div>
    </div>
        {% set index = index + 1 %}
        {% if index % 3 == 0 %}
</div>
        {% endif %}
    {% endfor %}
    {% if index % 3 != 0 %}
</div>
    {% endif %}
