<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
{#
        <link rel="stylesheet" href="{{ asset('bundles/digscore/css/normalize.css') }}" type="text/css" media="all" />
#}
        <link rel="stylesheet" href="{{ asset('bundles/digscore/bootstrap/css/bootstrap.min.css') }}" type="text/css" media="all" />
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container">
{% block body %}{% endblock %}
        </div>
        <script type="text/javascript" src="{{ asset('bundles/digscore/js/jquery-2.0.3.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/digscore/bootstrap/js/bootstrap.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
