{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Photo list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>File</th>
                <th>Extradata</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.title }}</td>
                <td>{{ entity.file }}</td>
                <td>{{ entity.extraData }}</td>
                <td>{{ entity.status }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('photo_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
