{% extends "DigsCoreBundle::base.html.twig" %}

{% form_theme edit_form 'DigsCoreBundle:Form:form_bootstrap_layout_expanded_checkbox.html.twig' %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('lib/tinymce/tinymce.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/digsentry/js/richtexteditor.js') }}"></script>
<script type="text/javascript">
    var EntryEditPage = {
        init: function() {
            
            $('#submit-delete').click(function(e) {
                
                if (confirm('削除します。よろしいですか。'))
                {
                    $('#delete-form').submit();
                }
            });
        }
    };
    $(document).ready(function(){
        RichTextEditor.init("{{ asset('lib/bootstrap/bootstrap.css') }},{{ asset('bundles/digsentry/css/richtexteditor.css') }}",
            "{{ path('information_photo') }}", "{{ path('information_file') }}", true);
        EntryEditPage.init();
    });
</script>
{% endblock %}

{% block body -%}
<div class="row">
{% if delete_form is defined %}
    <h2>お知らせの編集</h2>
{% else %}
    <h2>お知らせの作成</h2>
{% endif %}
</div>
<div class="row">
{{ form_start(edit_form) }}
{{ form_errors(edit_form) }}
    <div class="form-group">
{{ form_label(edit_form.title, 'タイトル') }}
{{ form_errors(edit_form.title) }}
{{ form_widget(edit_form.title, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
{{ form_label(edit_form.message, 'メッセージ') }}
{{ form_errors(edit_form.message) }}
{{ form_widget(edit_form.message, {'attr': {'class': 'form-control', 'rows': 20}}) }}
    </div>
{% if delete_form is not defined %}
    <div class="form-group">
        <label style="margin-bottom: 0">メールを送信するグループ</label>
{{ form_errors(edit_form.sendMailGroups) }}
{{ form_widget(edit_form.sendMailGroups, {'attr': {'class': 'checkbox'}}) }}
    </div>
{% endif %}
    <div class="form-group">
        <button type="submit" class="btn btn-primary">保存</button>
{% if delete_form is defined %}
        <button id="submit-delete" type="button" class="pull-right btn btn-danger">削除</button>
{% endif %}
    </div>
{{ form_end(edit_form) }}
</div>
{% if delete_form is defined %}
{{ form_start(delete_form, {'attr': {'id': 'delete-form'}}) }}
{{ form_end(delete_form) }}
{% endif %}
{% endblock %}
