{% if entities|length > 0 %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">お知らせ</h2>
    </div>
    <ul class="list-group">
    {% for entity in entities %}
        <li class="list-group-item">
            <h3><a href="{{ path('information_show', { 'id': entity.id }) }}" title="{{ entity.title }}">{{ entity.title|truncate(30) }}</a></h3>
            <p>{{ entity.escapedMessage|truncate(200) }}</p>
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-right"><small>{{ entity.updatedAt|date('Y-m-d H:i:s')  }}</small></div>
                </div>
            </div>
        </li>
    {% endfor %}
    </ul>
</div>
{% endif %}
